<div class="main-footer col-md-12 no-padding">
      <!-- footer-top -->
      <div class="footer-top">
      	<!-- footer-top -->
      </div>	
      <!-- /footer-top -->
    	<!-- footer-content -->
    		<div class="footer-content background-color-fore has-padding col-md-12">
    			<!-- widget box -->
          <div class="footer-widget-box widget-box col-md-3 ">
            <h2>ដំណឹងស្តីពីការដេញថ្លៃ</h2>
            <p ><a class="white-link-item" >ដំណឹងស្តីពីការដេញថ្លៃ</a></p>
            <p ><a class="white-link-item" >ផ្នែកទំនិញ និង សំភារៈ</a></p>
            <p ><a class="white-link-item" >ផ្នែកសំណង់និង ទំហែទាំ</a></p>
            <p ><a class="white-link-item" >ផ្នែកសេវាកម្ម និងពិគ្រោះយោបល់</a></p>
        
            
          </div>
          <!-- /widget box  -->

          <!-- widget box -->
          <div class="footer-widget-box widget-box col-md-3 ">
            <h2>ស្ថាប័នអនុវត្តលទ្ធកម្ម</h2>
            <p ><a class="white-link-item" >ស្ថាប័នអនុវត្តលទ្ធកម្ម</a></p>
            <p ><a class="white-link-item" >ក្រសួង – ស្ថាប័នថ្នាក់កណ្តាល</a></p>
            <p ><a class="white-link-item" >គ្រឹះស្ថានសាធារណៈ – សហគ្រាសសាធារណៈ</a></p>
            <p ><a class="white-link-item" >រាជធានី​ – ខេត្ត</a></p>
          </div>
          <!-- /widget box  -->

          <!-- widget box -->
          <div class="footer-widget-box widget-box col-md-3">
            <h2>អំពីស្ថាប័ន</h2>
            <p ><a class="white-link-item" >អំពីស្ថាប័ន</a></p>
            <p ><a class="white-link-item" >រចនាសម្ព័ន្ធស្ថាប័ន</a></p>
            <p ><a class="white-link-item" >តួនាទីអគ្គនាយកដ្ឋានលទ្ធកម្មសាធារណៈ</a></p>
            <p ><a class="white-link-item" >រចនាសម្ព័ន្ធគ្រប់គ្រង</a></p>
          </div>
          <!-- /widget box  -->
          <!-- widget box -->
          <div class="footer-widget-box widget-box col-md-3">
            <h2>ច្បាប់ និង លិខិតគតិយុត្តិ</h2>
            <p ><a class="white-link-item" >ច្បាប់ និង លិខិតគតិយុត្តិ</a></p>
            <p ><a class="white-link-item" >ច្បាប់</a></p>
            <p ><a class="white-link-item" >ព្រឹត្តិបត្រព័ត៌មាន</a></p>
            <p ><a class="white-link-item" >ព្រះរាជក្រឹត្យ</a></p>
            <p ><a class="white-link-item" >អនុក្រឹត្យ</a></p>
            <p ><a class="white-link-item" >ឯកសារផ្សេងៗ</a></p>
          </div>
          <!-- /widget box  -->

    		</div>
    	<!-- /footer-content -->

    	<!-- bottom-footer -->
    		<div class="bottom-footer color-white background-color-3 has-padding col-md-12">
    			រក្សាសិទ្ធិ ©២០១៤​ អគ្គនាយកដ្ឋានលទ្ធកម្មសាធារណៈ
    		</div>
    	<!-- /bottom-footer -->
    </div>