<div class="main-header" >
	<!-- top-header -->
	<div class="top-header has-padding color-fore col-md-12">
			<div class="col-md-6">
            <!-- left    -->
      </div>
			<div class="language-change-box col-md-6">
					<!-- <a href="" title="chang language">
            <img src="/assets/kh.png">     
          </a>
          <a href="" title="chang language">
            <img src="/assets/en.png">     
          </a> -->
			</div>
	</div>
	<!-- /top-header -->

	<!-- header-content -->
	<div class="header-content has-padding ">
			<img  src="/assets/logo.png" class="img-responsive" >
  </div>
  <!-- /.header-content -->
</div>


