<div class=" right-sitebar has-padding col-md-4 color-fore" >
    <div class=" widget-box has-shadow color-black ">
        <h2>សេចក្ដីជូនដំណឹងស្តីពីការដេញថ្លៃថ្មីៗ</h2>
            
            <div class="list-item-box" >
                <p class="title" >សេចក្តីប្រកាស់ទី១ </p>
                <p class="after-title" >សំណង់ 01-07-2015</p>
            </div>
            <div class="list-item-box" >
                <p class="title" >សេចក្តីប្រកាស់ទី១ </p>
                <p class="after-title" >សំណង់ 01-07-2015</p>
            </div>
            <div class="list-item-box" >
                <p class="title" >សេចក្តីប្រកាស់ទី១ </p>
                <p class="after-title" >សំណង់ 01-07-2015</p>
            </div>
            <div class="list-item-box" >
                <p class="title" >សេចក្តីប្រកាស់ទី១ </p>
                <p class="after-title" >សំណង់ 01-07-2015</p>
            </div>

    </div>

    <div class=" widget-box has-shadow">
        <h2>ដំណឹងស្តីពីការដេញថ្លៃ</h2>
        <ul style="list-style:none">
            <li><%= link_to 'លទ្ធកម្មទំនេញ',    announcements_show_procurement_goods_path %></li>
            <li><%= link_to 'លទ្ធកម្មសំណង់',    announcements_show_procurement_goods_path %></li>
            <li><%= link_to 'លទ្ធកម្មសេវាកម្ម',    announcements_show_procurement_goods_path %></li>
            <li><%= link_to 'លទ្ធកម្មទីព្រឹក្សា',    announcements_show_procurement_goods_path %></li>
        </ul>
    </div>

    <div class=" widget-box has-shadow">
        <h2>ផែនការលទ្ធកម្ម</h2>
        <p> ផែនការលទ្ធកម្មដើមឆ្នាំ </p>
        <p> ផែនការលទ្ធកម្មកែតម្រូវ </p>
    </div>

    <div class="widget-box has-shadow">
        <h2>ច្បាប់និងលិខិតកត្តិយុទ្ធ</h2>
        <p> ច្បាប់ </p>
        <p> ព្រះរាជក្រិត្រ </p>
        <p> ប្រកាស់</p>
        <p> ឯកសាផ្សេងៗ </p>
        
    </div>

    <div class="widget-box has-shadow">
        <h2>ការប្រគល់ឯកសា</h2>
        <p> អ.ដ.ប</p>
        <p> អ.ដ.ប</p>
        <p> អ.ដ.ប</p>
        <p> អ.ដ.ប</p>

        
        
    </div>
</div>