<!-- test -->
<div class="slider-box" style="background: black; width:100%; height: 300px ; color:white; font-size:60px; " >
    Slider box 
</div>

<div class="row" >
  <div class="col-md-12">
    <p class="content-main-title">ដំណឹងដេញថ្លៃថ្មីៗ</p>
    
    <div class="row">
        <div class="col-md-4" >
          <p class="box-title">ដំណឹងដេញថ្លៃទី​១ </p>
          <p>
            ក្រសួង/ស្ថាប័ណ<br>
            សេចក្តីជូនដំណឹងជាសាធារណៈ ស្តីពីការដាក់ឱ្យដេញថ្លៃផ្គត់ផ្គង់ថ្មរ M30 និងស៊ីម៉ង់សម្រាប់ឆមាស់ទី២ 
          </p>
          <a href="" class="btn btn-xs btn-primary background-color-fore">ទាញយកឯកសា </a>
        </div>
        <div class="col-md-4" >
          <p class="box-title">ដំណឹងដេញថ្លៃទី​១ </p>
          <p>
             ក្រសួង/ស្ថាប័ណ<br>
            សេចក្តីជូនដំណឹងជាសាធារណៈ ស្តីពីការដាក់ឱ្យដេញថ្លៃផ្គត់ផ្គង់ថ្មរ M30 និងស៊ីម៉ង់សម្រាប់ឆមាស់ទី២ 
          </p>
          <a href="" class="btn btn-xs btn-primary background-color-fore">ទាញយកឯកសា</a>
        </div>
        <div class="col-md-4" >
          <p class="box-title">ដំណឹងដេញថ្លៃទី​១ </p>
          <p>
             ក្រសួង/ស្ថាប័ណ<br>
            សេចក្តីជូនដំណឹងជាសាធារណៈ ស្តីពីការដាក់ឱ្យដេញថ្លៃផ្គត់ផ្គង់ថ្មរ M30 និងស៊ីម៉ង់សម្រាប់ឆមាស់ទី២ 
          </p>
          <a href="" class="btn btn-xs btn-primary background-color-fore">ទាញយកឯកសា </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" >
          <p class="box-title">ដំណឹងដេញថ្លៃទី​១ </p>
          <p>
            ក្រសួង/ស្ថាប័ណ<br>
            សេចក្តីជូនដំណឹងជាសាធារណៈ ស្តីពីការដាក់ឱ្យដេញថ្លៃផ្គត់ផ្គង់ថ្មរ M30 និងស៊ីម៉ង់សម្រាប់ឆមាស់ទី២ 
          </p>
          <a href="" class="btn btn-xs btn-primary  background-color-fore">ទាញយកឯកសា </a>
        </div>

        <div class="col-md-4" >
          <p class="box-title">ដំណឹងដេញថ្លៃទី​១ </p>
          <p>
             ក្រសួង/ស្ថាប័ណ<br>
            សេចក្តីជូនដំណឹងជាសាធារណៈ ស្តីពីការដាក់ឱ្យដេញថ្លៃផ្គត់ផ្គង់ថ្មរ M30 និងស៊ីម៉ង់សម្រាប់ឆមាស់ទី២ 
          </p>
          <a href="" class="btn btn-xs btn-primary background-color-fore">ទាញយកឯកសា</a>
        </div>
        <div class="col-md-4" >
          <p class="box-title">ដំណឹងដេញថ្លៃទី​១ </p>
          <p>
             ក្រសួង/ស្ថាប័ណ<br>
            សេចក្តីជូនដំណឹងជាសាធារណៈ ស្តីពីការដាក់ឱ្យដេញថ្លៃផ្គត់ផ្គង់ថ្មរ M30 និងស៊ីម៉ង់សម្រាប់ឆមាស់ទី២ 
          </p>
          <a href="" class="btn btn-xs  btn-primary background-color-fore">ទាញយកឯកសា</a>
        </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="content-main-title">ច្បាប់និង លិខិតកតិយុទ្ធ</p> 
    <br>
    <div class="row" >

      <div class="col-md-3" style="text-align: center;" >
        <img src="" width="100%" height="200px"  >
        <p class="box-title text-center ">ច្បាប់និងកតិយុទ្ធ ១</p>
        <a href="#">Download </a>
      </div>

      <div class="col-md-3" style="text-align: center;" >
        <img src="" width="100%" height="200px"  >
        <p class="box-title text-center">ច្បាប់និងកតិយុទ្ធ ១</p>
        <a href="#">Download </a>
      </div>

      <div class="col-md-3" style="text-align: center;" >
        <img src="" width="100%" height="200px"  >
        <p class="box-title text-center">ច្បាប់និងកតិយុទ្ធ ១</p>
        <a href="#">Download </a>
      </div>

      <div class="col-md-3" style="text-align: center;" >
        <img src="" width="100%" height="200px"  >
        <p class="box-title text-center">ច្បាប់និងកតិយុទ្ធ ១</p>
        <a href="#">Download </a>
      </div>
     

    </div>
  </div>
</div>


<br>
<!-- /.test  -->
