<br>
<p class="text-center" style="font-size: 25px; font-family:'khmer muol'; " >
  គ្រឹះស្ថាន - សហគ្រាសសាធារណៈ
</p>
<hr>
<div class="row"  >
  
<%
  $i = 0
  $max = 13

  while $i < $max do

%>
    <div class="col-md-6" style="padding-bottom: 10px;" >
      <%= image_tag("no-image.png", class: 'col-md-4 has-shadow ', style: 'padding:10px;' ) %>
      <div class="col-md-8" style=" line-height: 27px;" >
        <b>ឈ្មោះស្ថាប័នថ្នាក់កណ្តាល</b>
        <br>
        អាស័យដ្ឋាន៖............................<br>
        ទូរស័ព្ទ៖...................................<br>
        គេហទំព័រ៖ ...................................<br>

      </div>
    </div>
<% 
$i +=1
 end 

%>


</div>
  


