<div>
  <h1 class="content-main-title" ><%= "អាសយដ្ឋានទំនាក់ទំនង" %></h1>

  <p class="title" ><b> <%= "អគ្គនាយកដ្ឋានលទ្ធកម្មសាធារណៈនៃក្រសួងសេដ្ឋកិច្ច និង ហិរញ្ញវត្ថុ" %> </b> </p>
  <p><%= "ផ្លូវលេខ ៩២ សង្កាត់វត្តភ្នំ ខ័ណដូនពេញ រាជធានីភ្នំពេញ" %></p>

</div>

<div id="map" style="height: 400px" ></div>
