<br>
<p class="text-center" style="font-size: 25px; font-family:'khmer muol'; " >
  <%= 'អង្គការលេខរបស់អគនាយកដ្ឋានលទ្ធកម្មសាធារណៈ' %>
</p>
<hr>

<%= image_tag('hierarchy-photo.png' , style: 'width: 100%', align: 'center' ) %>

