<div class="has-padding has-shadow" style="margin-bottom:10px;" >
  <b><%= "សំណួរ ចម្លើយ"  %></b>
</div>
<Br>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">សាកល្បងសម្រាប់សំណួរទី១ ?</a>
                    </p>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">
                       នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">សាកល្បងសម្រាប់សំណួរទី១ ?</a>
                    </p>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ 
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">សាកល្បងសម្រាប់សំណួរទី១ ?</a>
                    </p>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ នេះគឺជាចម្លើយទី​ សម្រាប់សំណួរខាងលើ 
                    </div>
                </div>
            </div>
        </div>
