<div>
  <h1 class="content-main-title" ><%= "អាសយដ្ឋានទំនាក់ទំនង" %></h1>

  <p class="title" ><b> <%= "អគ្គនាយកដ្ឋានលទ្ធកម្មសាធារណៈនៃក្រសួងសេដ្ឋកិច្ច និង ហិរញ្ញវត្ថុ" %> </b> </p>
  <p><%= 'St.92, Sangkat Wat Phnom, Khan Daun Penh, Phnom Penh, Phnom Penh' %></p>

</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d125093.22920503457!2d104.90444040234371!3d11.540132835412667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2skh!4v1443235025343" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>