
<div class="panel panel-default">
  <div class="panel-heading">កែប្រែសេចក្តីប្រកាស់</div>
  <div class="panel-body">
		<%= render 'form', { url: admin_announcement_path(@admin_announcement) } %>
		<hr>
		<%= link_to 'Show', admin_announcement_path %>
		<%= link_to 'Back', admin_announcements_path%>
	</div>
</div>