
<div class="panel panel-default">
  <div class="panel-heading">បន្ថែមសេចក្តីប្រកាស់ថ្មី</div>
  <div class="panel-body">
  
  <%= render 'form', { url: admin_announcements_path }  %>

<hr>
	<%= link_to 'Back', admin_announcements_path  %>	


  </div>
</div>