<div class="row">
		<div class="col-md-12 background-color-fore has-shadow fixed  " style="z-index: 100; width:100% " >
				<div class="col-md-8 col-md-offset-2 has-padding color-white" style="padding-bottom: 0px;">
				<div class=" banner  " style="margin-left: -10px; margin-top: -5px;" >
					<img src="/assets/sample-logo.png" height="30px" style="float:left">
				</div>
				<div class="admin-navbar " style="float: left; padding-top: 7px;"  >
					<ul style=" width:400px; display: inline; margin-top: 15px; " >
						<li style="display:inline;">
							<a class="color-white" href="#">មាតិកា១</a>	
						</li>
						<li style="display:inline;">
							<a class="color-white" href="#">មាតិកា១</a>
						</li>
						<li style="display:inline;">
							<a class="color-white" href="#">មាតិកា១</a>
						</li>
					</ul>
				</div>	
				<p style="float:right;" >	<b>នាមត្រកួល ឈ្មោះ </b> | ចាកចេញ</p>

				</div>
					
		</div>
	</div>