<!DOCTYPE html>
<html>
<head>
  <title>Mefsite Admin Layout </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico" title="Favicon" />
</head>
<body style="background:white !important" >
<!-- <h1> Admin layout page </h1> <br> -->
<!-- <hr> -->

<div class="col-md-12">
	<div class="row">
		<div class="col-md-12 background-color-fore has-shadow fixed  " style="z-index: 100; width:100% " >
				<div class="col-md-8 col-md-offset-2 has-padding color-white" style="padding-bottom: 0px;">
					<img src="/assets/sample-logo.png" height="30px" style="float:left">
					<ul class="col-md-3 " >
						<li style="display:inline;">
							<a class="color-white" href="#">មាតិកា១</a>	
						</li>
						<li style="display:inline;">
							<a class="color-white" href="#">មាតិកា១</a>
						</li>
						<li style="display:inline;">
							<a class="color-white" href="#">មាតិកា១</a>
						</li>
					</ul>

				<p style="float:right;" >	<b>នាមត្រកួល ឈ្មោះ </b> | ចាកចេញ</p>

				</div>
					
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 " >
		<div class="col-md-8 col-md-offset-2" style="padding: 0px !important; margin-top: 50px; ">
			<%= yield %>		
		</div>
		
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 has-padding " style="border-top:1px solid green; text-align:center" >
				<a href="">Some link</a>	រក្សាសិទ្ធ &copy 2015. ក្រសួងសេដ្ឋកិច្ច និង ហិរញ្ញវត្ថុ 
		</div>
	</div>
</div>


</body>

</html>